.wrapper{
    /* height: 90vh;
    width: 100vh; */
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: #ffcc9e;
    display: flex; 
    display: inline block;
height: 62vh;
width: 100vw;
}

.textcont{
    display: flex;
     flex-direction: column;
      /* align-items: center;  */
     flex-shrink: 0;
     /* margin-left: 136px; */
    
   
}

#h1{
    font-size: 40px;
    width: 562px;
    height:90px;
    margin-left: 136px;
    margin-top: 50px;
}
#text{
    /* display: inline-block; */
    display: flex;
    width: 460px;
    height: 81px;
    font-size:24px;
    margin-left: 136px;
}


#look{
    width: 450px;
    height: 50px;
    font-size:25px;
    margin-top: 30px;
    margin-left: 136px;
    font-style: bold;
}
#form{
   margin-left: 136px;
}

#img{
    width: 500px;
    height: 470px;
    display: flex;
    margin-left: 180px;
}
#input{
    border: solid 4px black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 340px;
    height: 60px;
    font-size: 22px;
    padding-left: 20px;
margin-top: 10px;
}
#res{
    background-color: black;
    color: white;
height:60px;
width: 180px;
border: solid black;
border-radius: 9px;
font-size:24px ;
margin-bottom: 10px;
}

.black{
    height:38vh;
    width: 100vw;
    background-color: black;
    color: white;
     display: flex; 
}

#leftblack{
  margin-left: 136px;
 justify-content: center;
 margin-top: 53px;
 align-items: center;
 gap: 50px;
 font-size: 20px;
} 


 #linklogo{
width: 29px;
height: 27px;
}
#instalogo{
width: 29px;
height: 27px;
}

#rightblack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 700px;
    font-size: 20px;
    align-items: center;
   
}
#scroll{
    font-size: 18px;
    color: white;
    position: fixed;
    display: flex;
    top: 420px;
    left: 140px;
}
.logo{
    display: flex;
    margin-left: 180px;
}
#r3{
    color: black;
}
#r1{
    margin-left: 170px;
}
#r2{
    margin-left: 50px;
}
#r3{
    margin-left: 10px;
    color: black;
}
#r4{
    margin-left: 120px;
}